<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personal.tmall.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.personal.tmall.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="register_data" jdbcType="TIMESTAMP" property="registerData" />
    <result column="last_login_data" jdbcType="TIMESTAMP" property="lastLoginData" />
    <result column="login_count" jdbcType="INTEGER" property="loginCount" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.personal.tmall.entity.User">
    insert into user (id, nickname, password, 
      salt, head, register_data, 
      last_login_data, login_count)
    values (#{id,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{head,jdbcType=VARCHAR}, #{registerData,jdbcType=TIMESTAMP}, 
      #{lastLoginData,jdbcType=TIMESTAMP}, #{loginCount,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.personal.tmall.entity.User">
    update user
    set nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      head = #{head,jdbcType=VARCHAR},
      register_data = #{registerData,jdbcType=TIMESTAMP},
      last_login_data = #{lastLoginData,jdbcType=TIMESTAMP},
      login_count = #{loginCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, nickname, password, salt, head, register_data, last_login_data, login_count
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, nickname, password, salt, head, register_data, last_login_data, login_count
    from user
  </select>
</mapper>